
html {
  font-family: "Noto Serif", serif;
}

.banner {
  background: #70ad55;
  color: #fff;
}

footer {
  background: #70ad55;
  color: #fff;
}

select,
input,
textarea {
  border-color: #6e8c62;
}

span {
  color: #70ad55;
}

.btn {
  background-color: #6e8c62;
  border-color: #6e8c62;
  width: 8rem;
}

.line {
  color: #70ad55;
}
